<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933607336377-unknchdbbv7r7vdv3ntbrq0991bqr0ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933607336377-unknchdbbv7r7vdv3ntbrq0991bqr0ce</string>
	<key>API_KEY</key>
	<string>AIzaSyB2UJeU2xM46VikfqloqY0naQI7kHiqbxs</string>
	<key>GCM_SENDER_ID</key>
	<string>933607336377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.iprogram.qrtracer</string>
	<key>PROJECT_ID</key>
	<string>staysafe-bd348</string>
	<key>STORAGE_BUCKET</key>
	<string>staysafe-bd348.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933607336377:ios:dce44859c42a6748192e68</string>
	<key>DATABASE_URL</key>
	<string>https://staysafe-bd348.firebaseio.com</string>
</dict>
</plist>